HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Intellij IDEA ###
#.apt-generated
#.classpath
#.factorypath
#.project
#.settings
#.springBeans
#.sts4-cache

### Intellij IDEA ###
*.idea
*.iws
*.iml
*.ipr